*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 152, 152);
    color: black;
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(47, 250, 253);
}
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #bfc7e9;
}
nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
nav span {
    color: rgb(29, 150, 243);
}
  
nav ul {
    display: flex;
    list-style: none;
}
  
nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
  
nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
  
nav ul li:hover {
    background-color: rgb(101, 30, 253);
}
  
nav ul li a:hover {
    color: white;
}
 

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}
  
.line .side1 {
    padding-right: 50px;
}
  
.side1 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin-bottom: 10px;
    color: rgb(97, 97, 246);
}
  
.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
  
a {
    text-decoration: none;
    color: rgb(87, 97, 238);
}
.side1 button:hover {
    background-color: rgb(156, 156, 251);
    transition: 0.3s ease-in;
}

.side2 img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section .topic a {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title  span{
    color: blueviolet;
    position: relative;
    top: 50%;
    left: 5%;
    font-size: 30px;
}
  
.about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.about .boxes .box {
    margin: 10px 20px;
    max-width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    background-color: #bfc7e9;
}
 
.contact {
    padding: 20px;
}
  
.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}
  
.content .title {
    width: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
  
.title {
    margin-bottom: 30px;
    margin-left: 80px;
}
  
.contactMenu {
    display: flex;
    justify-content: space-evenly;
}
  
.input2 {
    margin-top: 10;
}
  
.label1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}
  
.contactMenu .input1 input {
    border-radius: 13px;
    padding: 6px;
}
  
.input2 input {
    border-color: rgb(252, 244, 244);
    width: 400px;
}
  
.button {
    margin-top: 12px;
    margin-left: 10px;
}
  
.button button {
    width: 130px;
    height: 35px;
    border-radius: 16px;
    border-color: transparent;
}
  
.button button:hover {
    background-color: #8cc099;
}
  
button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}
  
button:hover {
    background-color: blueviolet;
}
  
.rightside1 {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
  
.title1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bolder;
}
  
.content1 {
    width: 450px;
    margin-top: 2px;
}
  
.footer {
    margin-top: 30px;
    padding-left: 70px;  
}

.footer h1{
    padding: 1rem 0;
    text-decoration: underline;
    color:blueviolet;
    text-underline-offset: 0.5rem;
}

.footer ol {
    list-style: none;
    margin: 10px;
}
.footer li{
    font-size: 1.2rem;
    padding: .5rem 0;
}
.footer h3{
    text-decoration: underline;
    padding: 1rem 0;
    text-underline-offset: 0.5rem;
    color: blueviolet;
}
.footer a{
    margin-left: 1rem;
    color: crimson;
}
.footer i{
    color: black;
    text-align: right;
    margin-bottom: 10px;
}
.footer1 {
    font-size: 20px;
    letter-spacing: .1rem;
    text-align: center;
    padding: 2.5rem 1rem;
}

